[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyyaml = "*"
black = "*"
psutil = "*"
pillow = "*"
docker = "*"
colorama = "*"
drf-spectacular = "*"
django-crum = "*"
jsbeautifier = "*"
django-cors-headers = "*"
pytest = "*"
selenium = "*"
pytest-json = "*"
pytest-html = "*"
beautifulsoup4 = "*"
pandas = "*"
pytest-selenium = "*"
django-filter = "*"
networkx = "*"
matplotlib = "*"
dj-database-url = "*"
django-mssql = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
